# Not required for you to use this library.
#
# For local development and running the API test suite, save this file as .env
# and update the values with information for your Printify account.

PRINTIFY_TOKEN={access token registered with Printify}

PRINTIFY_SHOP_ID={integer for primary or default shop id}

SHOP_COUNT={integer of number of API shops associated with token}

SHOP_TITLE={the name of the Shop from PRINTIFY_SHOP_ID}

PRODUCT_ID={id of a product in the store}

PRODUCT_TITLE={title of the product from PRODUCT_ID}
